@model IEnumerable<sampleproject.Models.Hike>  
     
@{  
        ViewData["Title"] = "Hikes";  
    }  
<h2>Hikes</h2>  
<p>  
    <a asp-action="Create">Add a new hike</a>  
</p> 
<table class="table">  
    <thead>  
        <tr>  
            <th>  
                @Html.DisplayNameFor(model => model.HikeName)  
            </th>  
            <th>  
                @Html.DisplayNameFor(model => model.Distance)  
            </th>  
            <th>  
                @Html.DisplayNameFor(model => model.HikeLocation)  
            </th>  
            <th>  
                @Html.DisplayNameFor(model => model.ElevationGain)  
            </th>  
            <th></th>  
        </tr>  
    </thead>  
    <tbody>  
        @foreach (var item in Model)  
{  
            <tr>  
                <td>  
                    @Html.DisplayFor(modelItem => item.HikeName)  
                </td>  
                <td>  
                    @Html.DisplayFor(modelItem => item.Distance)  
                </td>  
                <td>  
                    @Html.DisplayFor(modelItem => item.HikeLocation)  
                </td>  
                <td>  
                    @Html.DisplayFor(modelItem => item.ElevationGain)  
                </td>  
                <td>  
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |  
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |  
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>  
                </td>  
            </tr>  
        }  
    </tbody>  
</table>  